.all-product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 1.5rem;
}

@media (max-width:1000px) {
.all-product {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 1.5rem;
    }
}

@media (max-width:768px) {
.all-product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 1.5rem;
    }
}